<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pasistence.knockwork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- for facebook application id -->
    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_application_id"
        tools:replace="android:value" />

    <application
        android:name=".ChatBox.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Employeer.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Employeer.Activities.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme" />
        <activity android:name=".Employeer.Activities.MemberListActivity" />
        <activity
            android:name=".Employeer.Activities.InboxActivity"
            android:label="@string/title_activity_inbox"
            android:theme="@style/AppTheme" />
        <activity android:name=".Employeer.Activities.LancerListActivity" />
        <activity
            android:name=".Employeer.Activities.SettingActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Employeer.Activities.ManageJobPostingActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PhonNumberSignInActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpEmailActivity" />
        <activity
            android:name=".Freelancer.Activities.SearchPageFreelancerActivity"
            android:label="@string/title_activity_search_page_freelancer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Freelancer.Activities.FreeLancerDashboard"
            android:label="@string/title_activity_free_lancer_dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Freelancer.Activities.ManageBidsActivity"
            android:label="@string/title_activity_manage_bids"
            android:theme="@style/AppTheme" />
        <activity android:name=".ChatBox.ChatActivity" />
        <activity android:name=".Freelancer.Activities.JobDescriptionActivity" />
        <activity
            android:name=".Freelancer.Activities.SearchFreelancerActivity"
            android:label="@string/title_activity_search_freelancer"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".Freelancer.Activities.SettingFreelancerActivity" />
        <activity android:name=".Freelancer.Activities.InboxFreelancerActivity" />
        <activity android:name=".Freelancer.Activities.JobPoastingActivity"></activity>
    </application>

</manifest>